<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>

        <li>
            <a routerLink="_step-1_" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Step-1">
                <span class="round-tabs three">
                    1
                </span>
            </a>
        </li>

        <li>
            <a routerLink="_step-2_" routerLinkActive="active" data-toggle="tab" title="Step-2">
                <span class="round-tabs three">
                   2
                </span>
            </a>
        </li>


        <li>
            <a routerLink="_step-3_" routerLinkActive="active" data-toggle="tab" title="Step-3">
                <span class="round-tabs three">
                  3
                </span>
            </a>
        </li>

        <li>
            <a routerLink="_step-4_" routerLinkActive="active" data-toggle="tab" title="Step-4">
                <span class="round-tabs three">
                  4
                </span>
            </a>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>