<form #passwordForm="ngForm" class="editForm" novalidate>

<div class="gradient">
    <div class="area container" style="z-index: unset;">
        <div class="row">
          <div class="col-md-3">     
          <p-card header="Settings" styleClass="ui-card-shadow">

		   </p-card>
        </div>
          <div class="col-md-9">
          <p-card subheader="Change password" styleClass="ui-card-shadow">
          <div class='row settings'>
            <div class='col-md-12'>
            	<small>(Password changes will immediately log you off the site.)</small>
                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="new_password">
                            New Password</label>  
                            <input  id="new_password"
				                    name="new_password"
				                    #new_password="ngModel"
				                    type="password" 
				                    autocomplete="off"
				                    placeholder="New password" 
				                    required
				                    [(ngModel)]="model.newPassword" pInputText >   
				             <div class="alert alert-danger" *ngIf="submitted && new_password.invalid">*Required</div>
                           
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="confirm_password">Confirm Password</label>
                            <input  id="confirm_password"
				                    name="confirm_password"
				                    #confirm_password="ngModel"
				                    type="password" 
				                    autocomplete="off"
				                    placeholder="Confirm password" 
				                    required
				                    validateEqual="new_password" 
				                    [(ngModel)]="model.confirmPassword" pInputText >
				            <div class="alert alert-danger" *ngIf="submitted && confirm_password.invalid">*Required</div>   
				            <div class="alert alert-danger" *ngIf="submitted && model.newPassword !=model.confirmPassword">*Password should be matched.</div>  
                           </div>
                    </div>   
                </div>
                <div class="row" *ngIf="showSaveErrored">
                      <div class='col-md-12'>
                          <div class="form-group">
                           <div class="alert alert-danger">
                              <div *ngIf="errors.length > 0 then errorList else errorGeneric"></div>

                              <ng-template #errorList>
                                  <ul>
                                      <li *ngFor="let error of errors">{{error}}</li>
                                  </ul>
                              </ng-template>

                              <ng-template #errorGeneric>
                                  <li *ngFor="let error of errors">{{error}}</li>
                              </ng-template>
                          </div>
                  </div>
                </div>
              </div>
                <div class="form-group text-center">
                    <button class="primary"  (click)="onChangePassword(passwordForm)"> Change password <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>
          </div>
         </p-card>
        </div>
       </div>
    </div>
</div>
</form>