<div class="lb-header">
    <a href="javascript:void(0)" id="login-box-link" class="active" style="width:100%">
    {{'reset_password_txt'|translate}}.</a>
</div>
<p style="color:#494545">{{'enter_your_new_password_txt'|translate}},<br>{{'and_this_will_be_your_new_password_txt'|translate}}.</p>
<section id="account-container" class="form-widget mar-top">
    <form #f="ngForm" (ngSubmit)="resetPassword(f.form.valid)" novalidate autocomplete="off">
        <div class="group" [ngClass]="{invalid: submitted && pass.invalid}">
            <i class="fa fa-user icon"></i>
            <input  #pass="ngModel" type="password" name="password" [(ngModel)]="password" placeholder="{{'password_txt'|translate}}"  required  maxlength="256" (keyup)="errors=[]" />
        
         <div class="validation-summary text-left" *ngIf="submitted && pass.invalid">
                   {{'enter_password_txt' | translate}}
         </div>
          <div *ngIf="errors" class="validation-summary text-left">
                <p *ngFor="let error of errors">{{error}}</p>
        </div>
        </div>

        <footer class="group no-mar-top">
            <input type="submit" id="account-btn" value="{{'save_txt'|translate}}" />
        </footer>
    </form>

</section>

