<div class="lb-header" *ngIf="!requestSent"> 
    <a href="javascript:void(0)" id="login-box-link" class="active" style="width:100%">
  {{'request_new_password_text'|translate}}.</a>
</div>
<p style="color:#494545" *ngIf="!requestSent"> {{'enter_your_email_address_text'|translate}},<br>
 {{'and_we_help_you_to_create_new_password_text'|translate}}</p>
<section id="account-container" class="form-widget mar-top">
    <form #f="ngForm" (ngSubmit)="requestPassword(f.form.valid)" novalidate autocomplete="off" *ngIf="!requestSent">
        <div class="group" [ngClass]="{invalid: submitted && emailR.invalid}" >
            <i class="fa fa-user icon"></i>
            <input  #emailR="ngModel" type="email" name="email" [(ngModel)]="email" placeholder="{{'Email_address'|translate}}" required email maxlength="256" (keyup)="errors=[]" />
        
         <div class="validation-summary text-left" *ngIf="submitted && emailR.invalid">
                             {{'please_enter_a_valid_email_text'|translate}}
         </div>
          <div *ngIf="errors" class="validation-summary text-left">
                <p *ngFor="let error of errors">{{error}}</p>
        </div>
        </div>

        <footer class="group no-mar-top">
            <input type="submit" id="account-btn" value="{{'request_password_text'|translate}}" />
        </footer>   
    </form>
    <form *ngIf="requestSent" novalidate autocomplete="off">
            <success-checkmark></success-checkmark>
           <p class="text-center" *ngIf="requestSent">{{'please_check_your_email_text'|translate}},<br> {{'we_sent_instruction_to_reset_password_text'|translate}}.</p>
    </form>
     
</section>
