<h2>Dashboard</h2>
<div class="row dashboardCard">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<a routerLink="../clients-management" routerLinkActive="active-link">
			<p-card header="Users - {{totalRecords}}">
			    <div>users/clients or profiles management</div>
			</p-card>
	    </a>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<a routerLink="../account-management" routerLinkActive="active-link">
			<p-card header="Stock account">
			    <div>Stock accounts related management </div>
			</p-card>
	    </a>
	</div>
    <div class="col-lg-3 col-md-6 col-xs-12">
	    <a routerLink="../transaction-management" routerLinkActive="active-link">	
			<p-card header="Transaction">
			    <div>Transaction like deposit/withdraw management</div>
			</p-card>
	    </a>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
	  <a routerLink="../clients-management" routerLinkActive="active-link">	
			<p-card header="Logs">
			    <div>Recent logs</div>
			</p-card>
	  </a>
	</div>
</div>

