<div class="container">
  <div class="row">
    <div class="col-md-6 left">
      <div class="svg">
        <img src="">
      </div>
    </div>
    <div class="col-md-6 cet">
      <div class="message-box">
        <h1>404</h1>
        <p>Page not found</p>
        <div class="buttons-con">
          <div class="action-link-wrap">
            <a (click)="backClicked()" class="link-button link-back-button">Go Back</a>
            <a (click)="homePage()" class="link-button">Go to Home Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

